@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
}

body {
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efedd6;
	flex-direction: column;
}
h1 {
	margin: 10px;
}
.box {
	background-color: steelblue;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 200px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
	transform: translateX(400%);
	transition: transform 0.4s ease;
}
.box:nth-of-type(even) {
	transform: translateX(-400%);
}
.box.show {
	transform: translateX(0);
}
.box h2 {
	font-size: 45px;
}
