@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
}

body {
	overflow: hidden;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.search {
	position: relative;
	height: 50px;
}
.search .input {
	background-color: white;
	border: 0;
	font-size: 18px;
	padding: 15px;
	height: 50px;
	width: 50px;
	transition: width 0.3s ease;
	border-radius: 6px;
}
.search .btn {
	width: 50px;
	height: 50px;
	background-color: white;
	border: 0;
	cursor: pointer;
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.3s ease;
	border-radius: 6px;
}
.btn:focus,
.input:focus {
	outline: none;
}
.search.active .input {
	width: 200px;
}
.search.active .btn {
	transform: translateX(192px);
}
